.container-search-filter-form-table {
    position: relative;
}
.search-filter-form-table {
    background: #E6F3F0;
    border-radius: 5px;
    padding: 15px 15px 15px 45px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444150;
    border: 0;
    width: 300px;
}
.content-icon-search-filter {
    position: absolute;
    left: 3%;
    top: 11px;
    color: black;
    font-size: 20px;
}